/* Write your CSS code here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home {
  height: 300px;
  width: 300px;
}

.heading {
  color: #551e53;
  font-size: 40px;
}
